body {
    background-image: url(../images/background3.png);
    background-size: cover;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.navigation {
    background-color: #121618;
    padding: 20px 0px;
}

.navigation img {
    display: block;
    margin: auto;
    width: 200px;
    padding: 20px;
}

.nav {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 0px 40px;
}

.nav a:hover {
    color: #FFC851;
}

.nav a.active {
    color: #FFC851;
}

.nav-show {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
}

.nav-show a {
    text-decoration: none;
    color: white;
    padding: 0px 40px;
}

.nav-show a:hover {
    color: #FFC851;
}

.nav-show a.active {
    color: #FFC851;
}

.hide {
    background-color: #FFC851;
    color: #121618;
    display: none;
    margin-bottom: 20px;
}

#input {
    text-align: center;
}

.container {
    width: 1200px;
    display: block;
    margin: auto;
    padding: 50px 0px;
}

.container input, button {
    background-color: #121618;
    color: white;
}

.container button:hover {
    background-color: #FFC851;
    color: #121618;
    cursor: pointer;
}

button {
    margin: 5px;
}

.user-image {
    margin-top: 30px;
}

img {
    width: 300px;
    border-radius: 10%;
}

h5 {
    text-transform: uppercase;
    font-weight: 500;
}

#status {
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    .nav-show {
        display: grid;
    }

    .nav {
        display: none;
    }

    .nav-show a {
        margin-bottom: 5px;
    }

    .hide {
        display: block;
        margin: auto;
    }

    .container {
        max-width: fit-content;
        padding: 10px 5px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .nav-show {
        display: grid;
    }

    .nav {
        display: none;
    }

    .nav-show a {
        margin-bottom: 5px;
    }

    .hide {
        display: block;
        margin: auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        max-width: fit-content;
        padding: 20px 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .nav a {
        padding: 0px 25px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {

    .container {
        max-width: fit-content;
        padding: 20px 5px;
    }
}